<div class="container">
    <div class="row">
        <input name="search" [(ngModel)]="searchText">
        <button (click)="search()">search</button> 
        <div class="col-md-4 col-sn-6 col-xs-12" *ngFor="let p of listeEmploi">
            <div class="card" style="width: 18rem;">
                               <div class="card-body">
                  <h4 class="card-title">{{p.reference}}</h4>
                  <p class="card-text">titre :{{p.titre}}</p>
                  <p class="card-text">entreprise: {{p.entreprise}}</p>
                  <p class="card-text">etat: {{p.etat}}</p>
                 <button type="button" class="btn btn-outline-warning"[disabled]="p.etat==false">offer</button>
                                 </div>
              </div>
        </div>
        <button type="button" class="btn btn-outline-warning" (click)="bilan()">bilan</button>
        {{nbr}}
    </div>
</div>